@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    font-family: "Lato", sans-serif;
}

$color1: #006241;
$color2: white;
$color3: #000000;


/*  INDEX  */
.navbar-brand img {
height: 70px;
}
.navbar-nav a {
    color: $color3 !important;
}
.btn {
background-color: $color1;
border-color: $color1;
color: $color2;
}

.btn a {
    background-color: $color1;
    border-color: $color1;
    color: $color2;
    text-decoration: none;
    }

.nav-link:hover {
    color: $color1 !important;

}

/*  menÃº colapsado  */
.navbar-toggler {
    background-color: $color1 !important;
    border-color: $color1 !important;
}

.navbar-toggler-icon {
color: $color2 !important;
border-color: $color2 !important;
}

.Jumbotron {
height: 450px;
background-image: url(img/coffee-7045578_1280.jpg);
font-weight: bold;
}

h2{
    text-align: center;
    background-color: $color1 ;
    padding: 20px;
    font-weight: bold;
    color: $color2;
    text-shadow: 0 0 5px $color3;
    margin-bottom: 0;
}

.nleft1 {
    background-image: url(img/img_menu.PNG);
    background-size: cover;
    background-position: center;
    height: 350px;
}
.nright1 {
    padding: 10px;
}
.nright2 {
    background-image: url(img/img_giftcard);
    background-size: cover;
    background-position: center;
    height: 350px;
}
.nleft2 {
    padding: 10px;
}

/*  FOOTER  */
footer{
    background-color: $color1;
    color: $color2;
    text-align: center;
    padding: 30px;
    font-size: 30px;
}
footer a {
    text-decoration: none;
    color: $color2;
    letter-spacing: 10px;
}

@import "_giftcard.scss";
@import "_productos.scss";
